:root {
	--grayish-blue: rgb(35, 41, 59);
    --dark-border-color: rgb(13, 1, 20);
    --bright-grey: rgb(200,200,200);
    --section-header-color: rgb(41, 17, 61);
    --link-hover-color: rgba(166, 226, 1, 0.45);
    --name-border-sides: 3%;
    --site-content-margin: .5%;
}

body{
    color: var(--bright-grey);
}

header{
    display: flex;
    background-color: var(--grayish-blue);
}

h1{
    font-size: 300%;
    color: var(--grayish-blue);
    background-color: var(--bright-grey);
    padding: 0rem  var(--name-border-sides);
    border-style: none;
    border-width: var(--name-border-sides);
    font-family:  ;
}

nav {
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-content: center; 
}

nav a{
    padding: 2%;
    border-bottom: solid var(--bright-grey) .25em;
    color: var(--bright-grey);
    font-size: 150%;
    margin: 3% 10% .5% 0%;
    text-decoration: none;
   /* display: flex;
    align-content: center;*/
}

nav a:hover{
    background-color: var(--link-hover-color);
}

#site-Image{
    padding: 1rem 1rem;
}

.display-sections {
    display: flex;
}

.section-head {
    display: flex;
    border-right: solid var(--dark-border-color);
   /* border-width: 16%; */
    padding-right: .5%;
    color: var(--section-header-color);
    font-size: 200%;
	margin-left: 5%;
}

#about-me-text {
    font-size: 1.25rem;
    margin-left: var(--site-content-margin);
    margin-right: 20%;
    color: black;
    margin-left
}

.project-display {
    background-image: url('./images/coming-soon-small.png');

}

#main-project {
    background-image: url('./images/coming-soon-large.png')
}

.display-lable {
    background-color: var(--bright-grey);
}
#contact-info {
    list-style: none;
	display:flex;
	justify-content: center;
    margin-top: 1%;
    font-size: 115%;
}

#contact-info ul {
    border-bottom: solid;
    text-decoration: none;
}

#contact-head {
    margin-left: 5%;
}

#projects-head {
   padding-left: 3%;
}

#about-head {
    padding-left: 5%;
}

@media screen and (max-width: 1192) {

    header{
        display: block;
    }
    h1{
        font-size:300%;
        margin: 2% var(--name-margin-sides);
        color: var(--grayish-blue);
        background-color: var(--bright-grey);
        padding: 0rem  var(--name-margin-sides);
    }
    
    nav {
        display: flex;
        justify-content: end;
        margin: 2.5%;
    }
    
    nav a {
        padding: 1%;
        border-bottom: solid var(--dark-border-color) .5em;
        color: var(--bright-grey);
        text-shadow: rgba(rgba(100, 134, 93, 0.247), green, blue, alpha) 5px 10px;
        font-size: 150%;
        margin: 0% 2% 1% 0%;
        text-decoration: none;
    }
    
}