:root {
	--grayish-blue: rgb(35, 41, 59);
    --dark-border-color: rgb(13, 1, 20);
    --bright-grey: rgb(200,200,200);
}

body{
    color: var(--bright-grey);
}

header{
    background-color: var(--grayish-blue);
    border-radius: 2rem 2rem 0rem 0rem;
}

nav {
    display: flex;
    justify-content: end;
    margin: 2.5%;
}

nav a{
    padding: 2%;
    border-right: solid var(--dark-border-color) .5em;
    color: wheat;
    text-shadow: rgba(rgba(100, 134, 93, 0.247), green, blue, alpha) 5px 10px;
}
