:root {
	--grayish-blue: rgb(35, 41, 59);
    --dark-border-color: rgb(13, 1, 20);
    --bright-grey: rgb(200,200,200);
    --section-header-color: rgb(41, 17, 61);
    --link-hover-color: rgba(166, 226, 1, 0.45);
    --name-border-sides: 3%;
    --site-content-margin: .5%;
}

body{
    color: var(--bright-grey);
    text-decoration: none;
}

/* The code for the header is below it uses the flex display property and one of the global color styles. */

header{
    display: flex;
    background-color: var(--grayish-blue);
}

/* The h1 tag is syled to have the color of the background for the text and another global color. It uses padding and borders for alignment. */

h1{
    font-size: 300%;
    color: var(--grayish-blue);
    background-color: var(--bright-grey);
    padding: 0rem  var(--name-border-sides);
    border-style: none;
    border-width: var(--name-border-sides);
    font-family:  ;
}

/* The nav content is aligned to the right of the page and uses the flex display property along with the auto margin to accomplish it's alignment. */

nav {
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-content: center; 
}

nav a{
    padding: 2%;
    border-bottom: solid var(--bright-grey) .25em;
    color: var(--bright-grey);
    font-size: 150%;
    margin: 3% 10% .5% 0%;
    text-decoration: none;
}

/* Adds a transparent color over the link tags in the nav section when they are hovered over */

nav a:hover {
    background-color: var(--link-hover-color);
}

#site-Image{
    padding: 100% 20%;
    background-image: url('./images/top-background.jpg')
}

/* Sets the display property of the sections to flex so the content can float properly. */

.display-sections {
    display: flex;
}

.section-head {
    display: flex;
    border-right: solid var(--dark-border-color);
   /* border-width: 16%; */
    padding-right: .5%;
    color: var(--section-header-color);
    font-size: 200%;
	margin-left: 5%;
    margin-right: 5%;
}

#about-me-text {
    font-size: 1.25rem;
    margin-left: var(--site-content-margin);
    margin-right: 20%;
    color: black;
    margin-left
}

#projects{
    text-decoration: none;
}

.project-display {
    background-image: url('./images/coming-soon-small.png');
    padding:  2.7rem 9.12rem;
    border-style: solid;
    border-color: var(--bright-grey);
    border-width: 16%;
}

#main-project {
    background-image: url('./images/coming-soon-large.png');
    padding: 10.8rem 19.2rem;
}

#small-project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#small-project-container .project-display {
    display: inline;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.display-lable {
    background-color: var(--bright-grey);
    margin-top: auto;
}

.project-display:hover{
    background-color: var(--link-hover-color);
}

#contact-info {
    list-style: none;
	display:flex;
	justify-content: space-evenly;
    margin-top: 1%;
    font-size: 115%;
}

#contact-info li {
    border-bottom: solid;
    text-decoration: none;
}

#contact-head {
    margin-left: 5%;
}

#projects-head {
   padding-left: 3%;
}

#about-head {
    padding-left: 5%;
}

@media (max-width: 1192) {

    header{
        display: block;
    }
    h1{
        font-size:300%;
        margin: 2% var(--name-margin-sides);
        color: var(--grayish-blue);
        background-color: var(--bright-grey);
        padding: 0rem  var(--name-margin-sides);
    }
    
    nav {
        display: flex;
        justify-content: end;
        margin: 2.5%;
    }
    
    nav a {
        padding: 1%;
        border-bottom: solid var(--dark-border-color) .5em;
        color: var(--bright-grey);
        text-shadow: rgba(rgba(100, 134, 93, 0.247), green, blue, alpha) 5px 10px;
        font-size: 150%;
        margin: 0% 2% 1% 0%;
        text-decoration: none;
    }
    
}
